.kasa-header {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
    margin-inline: 3rem;
    height: 3rem;
    font-size: 24px;
    font-weight: 500;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.kasa-header-logo img {
    max-width: 100%;
    object-fit: cover;
    height: 3rem;
    margin: 0;
}

.kasa-header-links a {
    color: #FF6060;
    text-decoration: none;
    justify-content: space-around;
    padding: 1rem;
}
.kasa-header-links a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    .kasa-header {
        text-transform: uppercase;
        margin-inline: 2rem;
        font-size: 12px;
    }

    .kasa-header-links a {
        padding: 0.5rem;
    }
}